@layer component {
    .clockPage,
    .stopwatchPage,
    .timerPage {
        .clockArea {
            height: calc(var(--grid) * 8.2);
            position: sticky;
            z-index: 0;
            top: 0;
        }

        .alarmList,
        .timeLaps,
        .timerList {
            position: relative;
            z-index: 1;
            background-color: var(--white);
            border-radius: var(--grid);

            &.bordered {
                border: 2px solid var(--black);
                /* border-bottom: none; */
                margin-inline: 5px;

                &::before {
                    content: '';
                    width: calc(var(--grid) * 2);
                    height: 6px;
                    border-radius: 4px;
                    background-color: var(--black);
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    translate: -50% 0;
                }
            }
        }
    }

    .clockPage {
        .mainArea {
            height: calc(var(--grid) * 12);
            .scrollArea {
                height: calc(var(--grid) * 12);
                padding-bottom: 0;
                /* overscroll-behavior: none; */
            }
        }
        .alarmList {
            border-radius: var(--grid) var(--grid) 0 0;

            &.bordered {
                border-bottom: none;
            }
        }

        .actionBar {
            position: absolute;
            z-index: 1;
            bottom: var(--grid);
            left: 50%;
            transform: translateX(-50%) translateZ(0);

            border-radius: var(--grid);
            background-color: var(--white);
            border: 2px solid var(--black);
            width: calc(100% - 10px);
            border-radius: 0 0 var(--grid) var(--grid);
            border: 2px solid var(--black);
            border-top: none;
            padding-bottom: 5px;
        }
    }

    /* .clockPage {
        .mainArea {
            height: calc(var(--grid) * 14);
            .scrollArea {
                height: calc(var(--grid) * 14);
                padding-bottom: calc(var(--grid) * 3);
            }
        }

        .actionBar {
            width: auto;
            position: absolute;
            z-index: 1;
            bottom: var(--grid);
            left: 50%;
            transform: translateX(-50%) translateZ(0);

            border-radius: var(--grid);
            background-color: var(--white);
            border: 2px solid var(--black);
            justify-content: center;

            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        border: 2px solid var(--black);
                    }
                }

                &.center {
                    width: calc(var(--button) * 2);
                }
            }
        }
    } */

    .stopwatchPage,
    .timerPage {
        .mainArea {
            height: calc(var(--grid) * 12);
            .scrollArea {
                height: calc(var(--grid) * 12);
                padding-bottom: calc(var(--grid) * 1);
            }
        }
        .actionBar {
            width: calc(100% - 10px);
            position: absolute;
            z-index: 2;
            bottom: var(--grid);
            left: 50%;
            transform: translateX(-50%) translateZ(0);

            border-radius: var(--grid);
            background-color: var(--white);
            border: 2px solid var(--black);
            /* justify-content: center; */

            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        border: 2px solid var(--black);
                    }
                }

                &.start,
                &.end {
                    width: calc(var(--button) * 1.5);
                    position: relative;

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        /* background-color: var(--black); */
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .timeLaps {
        margin-block: calc(var(--grid) * 2) 5px;
        padding: var(--half) var(--padding);

        .timeLap {
            padding-block: 8px;
            line-height: 2;
            border-bottom: 1px dotted var(--black);

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                border-bottom: none;
            }

            .lapTimes {
                font-family: var(--number-fonts);
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .timerList {
        margin-block: calc(var(--grid) * 2) 5px;
        padding-inline: var(--padding);
        padding-block: var(--grid) var(--padding);

        .timerPrefix {
            width: 100%;
            height: calc(var(--grid) * 1.5);
            padding-block: 8px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .alarmList {
        margin-block: calc(var(--grid) * 1.8) 0;
        padding-block: var(--half) calc(var(--grid) * 1.5);

        .dateContainer {
            text-align: center;
            padding: calc(var(--grid) * 0.25);
            font-size: 18px;
        }

        .alarmItem {
            width: 100%;
            height: calc(var(--grid) * 2);
            padding-inline: var(--padding);
            cursor: pointer;
            margin-top: 8px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .alermButton {
                flex: 1;
                text-align: left;

                .clock {
                    font-size: var(--grid);
                    line-height: 1.2;

                    > small {
                        font-size: 16px;
                    }
                }
                .label {
                    font-size: 14px;
                    line-height: 1.2;
                }
            }


            .toggle {
                width: 40px;
                height: var(--button);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .addAlarm {
            margin-top: var(--half);
            border: 2px solid var(--black);
            width: calc(100% - var(--grid));
            margin-inline: var(--half);
            background-color: var(--black);
            color: var(--white);

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            padding: 8px 16px;
            border-radius: 18px;
            font-weight: 500;
            font-size: 18px;
            position: relative;

            .icon {
                font-size: 28px;
                position: absolute;
                left: var(--half);
                color: var(--white);
            }
        }
    }
}