@layer component {
    .screen {
        position: absolute;
        inset: 0;
    }

    .statusContainer {
        position: absolute;
        z-index: 90;
        top: 0;
        left: 0;
        width: calc(var(--grid) * 10);
        height: calc(var(--grid) * 1.4);

        display: grid;
        grid-template-columns: 1fr calc(var(--grid) * 2.2) 1fr;
        align-items: flex-end;

        .statusStart,
        .statusEnd {
            height: var(--grid);
            display: inline-flex;
            justify-content: center;
            align-items: center;

            .time {
                background-color: var(--white);
                padding: 4px 6px;
                border-radius: 10px;
                font-weight: 500;

                display: inline-flex;
                justify-content: center;
                align-items: center;
                line-height: 1;

            }

            .icons {
                max-width: calc(var(--grid) * 3.5);
                background-color: var(--white);
                padding: 2px 4px;
                border-radius: 10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

            #batteryPercentage {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &::after {
                    content: attr(data-value);
                    position: absolute;
                    inset: 0;
                    font-size: 11px;
                    line-height: 1;
                    font-weight: 600;
                    color: var(--white);
                    translate: -1px 0;

                    display: grid;
                    place-items: center;
                    display: none;
                }

                .batteryCharging {
                    position: absolute;
                    z-index: 1;
                    color: var(--white);
                }
            }
        }

        .statusStart {
            padding-inline-start: 5px;
        }

        .statusEnd {
            padding-inline-end: 5px;
        }
    }

    .actionBar {
        padding-inline:  var(--half);
        background-color: var(--white);
        .actionButton {
            pointer-events: none;

            &:has(span) {
                pointer-events: auto;
                border-radius: calc(var(--grid) * 1.5);
                outline: 2px solid var(--black);
                outline-offset: -8px;
            }
        }

        &.actionCenter {
            justify-content: center;
        }
    }

    .alarmPage,
    .timerPage {

        /* background-image: linear-gradient(#444cf722 1px, transparent 1px), linear-gradient(to right, #444cf722 1px, transparent 1px);
        background-size: calc(var(--grid) - .1px) calc(var(--grid) - .05px); */

        .flexCenter {
            .alarmContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 6px;
                padding-inline: var(--half);

                .snoozeIcon {
                    margin-block-end: var(--padding);
                    .material-symbols-outlined {
                        font-size: calc(var(--grid) * 2.5);
                        animation: shake 0.5s infinite;
                    }
                }
    
                .alarmLabel {
                    font-size: 24px;
                    text-align: center;
                }
    
                .alarmTime {
                    font-size: 16px;
                }
            }
        }

        .actionBar {
            .actionButton.start {
                width: calc(var(--grid) * 6.5);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                font-size: 18px;

                .material-symbols-outlined {
                    font-size: 28px;
                    display: none;
                }
            }
            .actionButton.end {
                display: none;
            }
        }
    }

    .alarmPage {
        .actionBar {
            .actionButton.start {
                &::after {
                    content: 'Snooze';
                }
            }
        }
    }
    .timerPage {
        .actionBar {
            .actionButton.start {
                &::after {
                    content: 'Repeat';
                }
            }
        }
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
