@layer component {
    .screen {
        .homeStatus {
            width: calc(var(--grid) * 10);
            height: calc(var(--grid) * 3);

            /* background-color: #7fd2; */
        }

        .homeMainArea {
            width: calc(var(--grid) * 10);
            height: calc(var(--grid) * 14);

            /* outline: 1px solid hotpink; */

            .homeDate {
                width: calc(var(--grid) * 10);
                height: calc(var(--grid) * 5);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .clock {
                    font-size: 54px;
                    line-height: 1;
                }
                .date {
                    font-size: 14px;
                }
            }

            .appList {
                width: calc(var(--grid) * 10);
                height: calc(var(--grid) * 14);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .appLink {
                    font-size: 24px;
                }
            }
        }
    }
}
