@layer component {
    .mainArea {
        overflow: hidden;

        .page {
            cursor: grab;
            position: absolute;
            inset: 0;
            --space: calc(var(--grid) * 1.4);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: calc(var(--grid) * 1.5) 1fr calc(var(--grid) * 1.4);

            border-radius: calc(var(--grid) * 1.5);
            background-color: var(--white);
            outline: 2px solid var(--black);
            outline-offset: 0;


            transition: translate .7s ease;

            /* background-image: linear-gradient(#444cf722 1px, transparent 1px), linear-gradient(to right, #444cf722 1px, transparent 1px);
            background-size: calc(var(--grid) - .1px) calc(var(--grid) - .05px); */

            .page-content {
                padding-inline: var(--padding);
                text-align: justify;

                > p {
                    margin-top: 12px;
                }


                .chapter {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 6px;

                    > h2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding-block: var(--grid);
                        flex: 1;
                    }

                    > h3 {
                        width: 100%;
                        text-align: center;
                        padding-block-end: calc(var(--grid) * 1.2);
                    }
                }

                .cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: var(--grid);
                    /* border: 2px solid var(--black);
                    border-radius: calc(var(--grid) * 0.5); */
                    padding: 6px;

                    > h1 {
                        font-size: var(--grid);
                        font-weight: 500;
                    }
                }
            }

            .page-footer {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                > div {
                    font-size: 16px;
                }
            }
        }
    }
}