@layer component {

    .mainArea {
        overflow: hidden;

        .bookmark {
            position: absolute;
            z-index: 9;
            width: 24px;
            height: 42px;
            background-color: var(--black);
            clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);

            bottom: 0;
            left: var(--padding);
            translate: 0 102%;
            transition: translate .7s ease;

            &.show {
                translate: 0 0;
            }
        }

        .page {
            cursor: grab;
            position: absolute;
            inset: 0;
            /* overflow: hidden; */
            --space: calc(var(--grid) * 1.4);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: calc(var(--grid) * 1.5) 1fr calc(var(--grid) * 1.4);

            border-radius: calc(var(--grid) * 1.5);
            background-color: var(--white);
            outline: 2px solid var(--black);
            outline-offset: 0;

            transition: translate .7s ease;

            /* background-image: linear-gradient(#444cf722 1px, transparent 1px), linear-gradient(to right, #444cf722 1px, transparent 1px);
            background-size: calc(var(--grid) - .1px) calc(var(--grid) - .05px); */

            .page-content {
                padding-inline: var(--padding);
                text-align: justify;
                pointer-events: none;

                > p {
                    margin-top: 12px;
                }


                .chapter {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 6px;

                    > h2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding-block: var(--grid);
                        flex: 1;
                    }

                    > h3 {
                        width: 100%;
                        text-align: center;
                        padding-block-end: calc(var(--grid) * 1.2);
                    }
                }

                .cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: var(--grid);
                    /* border: 2px solid var(--black);
                    border-radius: calc(var(--grid) * 0.5); */
                    padding: 6px;

                    > h1 {
                        font-size: var(--grid);
                        font-weight: 500;
                    }
                }
            }

            .page-footer {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                > div {
                    font-size: 16px;
                }
            }
        }

        .titleList {
            padding-block: calc(var(--grid) * 1.5) calc(var(--grid) * 1.5);
            padding-inline: calc(var(--grid) * 0.5);

            .bookItem {
                cursor: pointer;

                border: 3px solid var(--black);
                border-right: none;
                border-radius: 24px 0 0 24px;

                overflow: hidden;
                margin-bottom: 2px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                padding-inline: 16px;
                position: relative;

                &:first-child {
                    transform-origin: bottom left;
                    translate: 5px 0;
                    rotate: -7deg;
                    margin-bottom: 0;
                }

                .bookTitle {
                    font-size: 20px;
                    position: relative;
                    z-index: 1;

                    .oneLine {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .progressContainer {
                    position: absolute;
                    z-index: 0;
                    top: 2px; bottom: 2px;
                    right: 12px;
                    width: 3px;
                    background-color: var(--black);

                    background-size: 6px 6px;
                    background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 3px, var(--white) 3px, var(--white));

                    .progress {
                        width: 5px;
                        background-color: var(--black);
                        margin-inline-start: -1px;
                    }
                }
            }
        }
    }

    .actionScrollArea {
        .scrollArea {
            padding: 0;
        }
    }
}