@layer component {

    /* .bookTheme {
        --size: calc(var(--button) - 16px);
        position: absolute;
        z-index: 1;
        bottom: calc(var(--grid) * 3.12);
        left: 50%;
        translate: -50% calc(var(--grid) * 5);
        transform: translateZ(0);
        width: var(--size);
        height: var(--size);
        border-radius: 100%;
        background-color: var(--black);
        transition: translate .5s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        .material-symbols-outlined {
            color: var(--white);
        }

        &.show {
            translate: -50% 0;
        }
    } */

    .actionScrollArea {
        .page-content {
            padding-inline: var(--padding);
            text-align: justify;

            color: var(--black);
            padding-top: 4px;

            /* background-color: hotpink; */
            overflow: hidden;
            line-height: 1.6;

            & p {
                line-height: 1.6;
                font-size: 16px;

                &.index {
                    text-indent: var(--grid);
                }
            }

            h1 {
                font-size: 22px;
            }

            & h1,
            & h2,
            & h3,
            & h4,
            & h5,
            & h6 {
                text-align: left;
            }

            > * {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .cover {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: var(--grid);
                /* border: 2px solid var(--black);
                border-radius: calc(var(--grid) * 0.5); */
                padding: 6px;

                > h1 {
                    font-size: var(--grid);
                    font-weight: 500;
                    text-align: center;
                }

                > h2 {
                    font-size: 28px;
                    font-weight: 500;
                }

                > h4 {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

    }

    .mainArea {
        overflow: hidden;

        .bookmark {
            position: absolute;
            z-index: 9;
            width: 24px;
            height: 56px;
            background-color: var(--black);
            /* clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0); */
            clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);

            top: 0;
            left: var(--padding);
            translate: 0 -102%;
            transform: translateZ(0);
            transition: translate .7s ease;

            &.show {
                translate: 0 0;
            }
        }

        .page {
            cursor: grab;
            position: absolute;
            inset: 0;
            /* overflow: hidden; */
            --space: calc(var(--grid) * 1.4);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: calc(var(--grid) * 1.5) 1fr calc(var(--grid) * 0.9);

            border-radius: calc(var(--grid) * 1.5);
            background-color: var(--white);
            outline: 2px solid var(--black);
            outline-offset: 0;

            transition: translate .7s ease;

            /* background-image: linear-gradient(#444cf722 1px, transparent 1px), linear-gradient(to right, #444cf722 1px, transparent 1px);
            background-size: calc(var(--grid) - .1px) calc(var(--grid) - .05px); */

            .page-content {
                padding-inline: var(--padding);
                text-align: justify;

                color: var(--black);
                padding-top: 4px;

                /* background-color: hotpink; */
                overflow: hidden;
                line-height: 1.6;

                & p {
                    line-height: 1.6;
                    font-size: 16px;

                    &.index {
                        text-indent: var(--grid);
                    }
                }

                h1 {
                    font-size: 22px;
                }

                & h1,
                & h2,
                & h3,
                & h4,
                & h5,
                & h6 {
                    text-align: left;
                }

                > * {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .cover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: var(--grid);
                    /* border: 2px solid var(--black);
                    border-radius: calc(var(--grid) * 0.5); */
                    padding: 6px;

                    > h1 {
                        font-size: var(--grid);
                        font-weight: 500;
                        text-align: center;
                    }

                    > h2 {
                        font-size: 28px;
                        font-weight: 500;
                    }

                    > h4 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }

            .page-header {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 12px;
                padding-inline: var(--half);

                .pageInfo {
                    display: grid;
                    grid-template-columns: calc(var(--grid) * 2) calc(var(--grid) * 2.5) calc(var(--grid) * 2);
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--black);
                    border-radius: var(--half);
                    font-size: 14px;
                    line-height: 1.3;
                    text-align: center;
                    /* background-color: var(--black);
                    color: var(--white); */

                    .percentage {
                        padding-inline: 10px 5px;
                    }
                    .pageno {
                        padding-inline: 5px 10px;
                    }
                }
            }

            .page-footer {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    gap: 8px;
                    display: none;

                    /* &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: var(--grid);
                        border-top: 2px solid var(--black);
                    } */
                }
            }
        }
    }

    .booksPage {
        /* &::before {
            content: '';
            display: block;

            position: absolute;

            width: calc(var(--grid) * 9);
            height: 6px;
            border-radius: 6px;
            background-color: var(--black);

            left: var(--half);
            bottom: calc(var(--grid) * .9);
        } */

        .scrollArea {
            width: calc(var(--grid) * 13);
            height: calc(var(--grid) * 10);
            padding: 0;
            transform: rotate(-90deg);
            translate: calc(var(--grid) * -1.5) calc(var(--grid) * 1.5);

            .titleList {
                /* padding-block: calc(var(--grid) * 1) calc(var(--grid) * 1.5); */
                padding-inline: 10px;
                padding-block: calc(var(--grid) * 2.1) calc(var(--grid) * .5);

                .bookItem {
                    cursor: pointer;

                    border: 3px solid var(--black);
                    border-radius: 2px;
                    /* border-right: none;
                    border-radius: 24px 0 0 24px; */

                    background-color: var(--black);

                    overflow: hidden;
                    margin-bottom: 4px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    padding-inline: 16px;
                    position: relative;

                    &:first-child {
                        transform-origin: top right;
                        translate: 6px 0;
                        rotate: 8deg;
                        margin-bottom: 0;
                    }

                    .bookTitle {
                        font-size: 18px;
                        position: relative;
                        z-index: 1;
                        padding-inline-start: var(--half);
                        font-weight: 700;
                        line-height: 1.3;
                        color: var(--white);

                        &.oneLine {
                            width: calc(var(--grid) * 11);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &.smallText {
                            /* font-size: 16px; */
                            line-height: 1;
                        }
                    }

                    .progressContainer {
                        position: absolute;
                        z-index: 0;
                        top: 2px; bottom: 2px;
                        left: 10px;
                        width: 4px;
                        background-color: var(--white);

                        background-size: 4px 4px;
                        background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 2px, var(--white) 2px, var(--white));

                        .progress {
                            width: 6px;
                            background-color: var(--white);
                            margin-inline-start: -1px;
                        }
                    }
                }
            }
        }

        .actionBar {
            /* justify-content: center; */

            .actionButton.end {
                /* outline: 2px solid var(--black); */
                /* outline-offset: -10px; */
                translate: -8px 20px;

                .icon {
                    font-size: 28px;
                }

                &::before {
                    content: '';
                    inset: 2px;
                    display: block;
                    position: absolute;
                    z-index: -1;
                    border-radius: var(--grid);
                    background-color: var(--white);
                    border: 2px solid var(--black);
                }
            }
        }
    }

    .storePage {
        .mainArea {
            height: calc(var(--grid) * 14);
            .scrollArea {
                height: calc(var(--grid) * 14);
            }
        }

        .titleList {
            padding-block: var(--half) calc(var(--grid) * 3);
            padding-inline: 10px;

            .bookItem {
                cursor: pointer;

                border: 5px solid var(--black);
                border-right: none;
                border-radius: 24px 0 0 24px;

                overflow: hidden;
                margin-bottom: 3px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                padding-inline: 16px;
                position: relative;
                line-height: 1.3;

                /* background-image: linear-gradient(0deg, var(--black) 5%, var(--white) 50%);
                background-size: 4px 4px; */

                background-size: 2px 2px;
                background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 1px, var(--white) 1px, var(--white));

                .bookTitle {
                    font-size: 20px;
                    position: relative;
                    z-index: 1;
                    color: var(--zero-bit);
                    font-weight: 900;

                    &.oneLine {
                        width: calc(var(--grid) * 8.5);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        line-height: 1;
                    }
                }

                .progressContainer {
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 6px;
                    background-color: var(--white);

                    /* background-size: 4px 4px;
                    background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 2px, var(--white) 2px, var(--white)); */
                }
            }
        }

        .actionBar {
            position: absolute;
            z-index: 1;
            background-color: transparent;
            bottom: var(--grid);
            transform: translateZ(0);

            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .readerActions {
        background-color: transparent;
        display: block;

        width: calc(var(--grid) * 2.5);
        left: 0;

        flex-direction: column;

        .actionButton {
            position: absolute;
            bottom: var(--grid);
            transition: translate .4s ease;

            &.center {
                translate: calc(var(--grid) * 4) 0;
            }
            &.contents {
                translate: 0 calc(var(--grid) * -3.5);
            }
            &.bookmarks {
                translate: 0 calc(var(--grid) * -1.75);
            }
            &.bookTheme {
                translate: calc(var(--grid) * 2) 0;
            }
            &.bookmark {
                color: var(--white);
            }
            &:has(span) {
                pointer-events: auto;
                border-radius: var(--grid);
                z-index: 0;

                .icon {
                    color: var(--white);
                    font-size: 28px;
                }

                &::before {
                    content: '';
                    inset: 8px;
                    display: block;
                    position: absolute;
                    z-index: -2;
                    border-radius: var(--grid);
                    background-color: var(--black);
                    /* border: 2px solid var(--black); */
                }
            }
            &.bookmarks,
            &.contents {
                width: calc(var(--grid) * 6);
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--white);
                padding-inline: 28px;
                gap: 8px;
                mix-blend-mode: difference;

                &::before {
                    background-color: var(--black);
                }
            }
        }
    }

    .hidden {
        .readerActions {
            .actionButton {
                bottom: var(--grid);
                translate: 0 0;
                &.center {
                    translate: calc(var(--grid) * 4) 0;
                }
                &.bookTheme {
                    translate: calc(var(--grid) * 2) 0;
                }
            }
        }
    }
}