@layer component {
    .scrollArea {
        .noData {
            height: calc(var(--grid) * 7);
        }

        .musicTitle {
            margin-block: var(--half) 0;
            padding-inline: var(--padding);
            font-size: 26px;
            font-weight: 400;
        }
    }

    .musicList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        gap: 10px;

        &.albumList {
            padding-block: var(--padding);
        }

        .musicCard {
            display: grid;
            grid-template-areas: "card";
            /* aspect-ratio: 1/1; */
            text-align: left;

            border: 3px solid var(--black);
            border-radius: 10px;
            position: relative;

            &::before {
                content: '';
                display: block;
                grid-area: card;
                padding-top: 100%;
            }

            .backgroundEl {
                grid-area: card;

                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0;

                .diamondCard {
                    width: 86px;
                    height: 86px;

                    display: grid;
                    place-items: center;

                    .icon {
                        font-size: 52px;
                    }
                }
            }

            .albumEl {
                grid-area: card;
                padding: 8px 4px;
                text-align: left;
                z-index: 1;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .albumName {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 0 4px;
                    background-color: var(--white);
                    border-radius: 2px;
                }
            }

            .playButton {
                position: absolute;
                z-index: 1;
                bottom: 6px;
                right: 6px;

                width: calc(var(--grid) * 1.4);
                height: calc(var(--grid) * 1.4);
                border-radius: 50%;
                background-color: var(--white);
                border: 2px solid var(--black);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .artistList {
        --size: calc(var(--grid) * 1.2);
        padding-block-start: 0;

        .titleItem {
            display: grid;
            grid-template-columns: var(--size) 1fr;
            gap: 8px;
            align-items: center;

            .thumbnail {
                width: var(--size);
                height: var(--size);
                border: 2px solid var(--black);
                border-radius: 50%;
                display: grid;
                place-items: center;

                .icon {
                    font-size: 28px;
                }
            }
        }
    }
    .playlistList {
        --size: calc(var(--grid) * 1.2);

        .titleItem {
            display: grid;
            grid-template-columns: var(--size) 1fr;
            gap: 8px;
            align-items: center;

            .thumbnail {
                width: var(--size);
                height: var(--size);
                border: 2px solid var(--black);
                border-radius: 2px;
                display: grid;
                place-items: center;

                .icon {
                    font-size: 28px;
                }
            }
        }
    }

    .songList {
        --album-size: 32px;

        &.noPadding {
            padding-block: 0;
        }

        .titleItem {
            display: grid;
            grid-template-columns: var(--album-size) 1fr;
            gap: 8px;

            .albumCover {
                width: var(--album-size);
                height: var(--album-size);

                display: flex;
                justify-content: center;
                align-items: center;

                border: 2px solid var(--black);
                border-radius: 2px;
            }
        }

        .spreadItem {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px var(--padding);

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                border-top: 2px solid var(--black);
            }
        }
    }

    .albumBanner {
        padding-inline: var(--padding);

        .albumName {
            padding-inline-end: var(--grid);
            font-size: var(--grid);
            line-height: 1.2;
            font-weight: normal;
        }

        .artists {
            padding-block-start: var(--half);
        }
    }

    .albumList {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        gap: 10px;

        .albumCard {
            /* aspect-ratio: 1/1; */
            display: grid;
            grid-template-areas: "album";

            &::before {
                content: '';
                display: block;
                grid-area: album;
                padding-top: 100%;
            }

            .albumRecord {
                grid-area: album;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                overflow: hidden;

                .record {
                    width: calc(var(--grid) * 1.6);
                    height: calc(var(--grid) * 1.6);
                    border: 2px solid var(--black);
                    border-radius: 100%;
                    margin-block-end: -75%;
                    box-shadow:
                        0 0 0 4px var(--white),
                        0 0 0 5px var(--black),
                        0 0 0 9px var(--white),
                        0 0 0 10px var(--black),
                        0 0 0 14px var(--white),
                        0 0 0 15px var(--black),
                        0 0 0 19px var(--white),
                        0 0 0 20px var(--black),
                        0 0 0 24px var(--white),
                        0 0 0 25px var(--black),
                        0 0 0 29px var(--white),
                        0 0 0 30px var(--black),
                        0 0 0 34px var(--white),
                        0 0 0 36px var(--black)
                    ;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .albumButton {
                grid-area: album;
                border: 3px solid var(--black);
                border-radius: 10px;
                padding: 8px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;

                .albumName {
                    font-size: 18px;
                    padding: 0 2px;
                }

                .artists {
                    font-size: 15px;
                    padding: 0;
                    background-color: var(--white);
                }
            }
        }
    }

    .musicPage,
    .latestPage {
        .mainArea {
            height: calc(var(--grid) * 14);

            .scrollArea {
                height: calc(var(--grid) * 14);
                padding-block-end: calc(var(--grid) * 3);
            }

            .playActions {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: var(--grid) var(--padding) 0;
                gap: var(--padding);

                & button {
                    height: calc(var(--grid) * 1.4);
                    border: 2px solid var(--black);
                    border-radius: var(--grid);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    .icon {
                        font-size: 28px;
                    }
                }
            }
        }
        .actionBar {
            position: absolute;
            z-index: 2;
            transform: translateZ(0);
            background-color: transparent;
            bottom: var(--grid);
        }
    }

    .latestPage {

        .playerButton {
            position: absolute;
            z-index: 6;

            bottom: var(--grid);
            left: calc(var(--grid) * 4);

            width: var(--button);
            height: var(--button);
            background-color: var(--white);
            border-radius: calc(var(--grid) * 1.5);
            display: flex;
            justify-content: center;
            align-items: center;

            border: 3px solid var(--black);
            outline: 3px solid var(--black);
            outline-offset: -9px;

            .icon {
                color: var(--white);
                font-size: 22px;
            }

            &::before {
                content: '';
                inset: 9px;
                display: block;
                position: absolute;
                z-index: -1;
                background-color: var(--black);
                border-radius: 50%;
                /* border: 2px solid var(--black); */
            }
        }

        &.playing {
            .playerButton {
                animation: rotate 10s linear infinite;
            }
        }

        .actionBar {
            z-index: 1;
            justify-content: center;
            gap: 4px;
            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        border: 2px solid var(--black);
                    }
                }
            }
        }
    }

    .musicPlayerPage {
        z-index: 7;
        .playerContainer {
            width: 100%;
            height: 100%;
            /* calc(var(--grid) * 11); */
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: calc(var(--grid) * 5) calc(var(--grid) * 3) calc(var(--grid) * 3);

            &.disabled {
                pointer-events: none;
            }

            .infoContainer {
                padding: var(--half);

                .songTitle {
                    max-width: 90%;
                    font-size: var(--grid);
                    font-weight: normal;
                    line-height: 1.2;
                }

                .articeName {
                    margin-block-start: var(--half);
                }
            }

            .controlContainer {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }

                .controlButton {
                    width: calc(var(--grid) * 2);
                    height: calc(var(--grid) * 2);

                    .icon {
                        font-size: 38px;
                    }
                }

                .playButton {
                    width: calc(var(--grid) * 2.2);
                    height: calc(var(--grid) * 2.2);
                    border: 3px solid var(--black);

                    .icon {
                        font-size: 52px;
                    }
                }
            }

            .timelineContiner {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: var(--half);

                .trackSlider {
                    width: 100%;
                    padding-inline: 4px;

                    .trackGroup {
                        width: 100%;
                        position: relative;

                        --size: 24px;

                        &:not(:last-child) {
                            border-bottom: 2px solid var(--black);
                        }


                        .trackRange {
                            width: 100%;
                            height: var(--size);

                            border-radius: var(--grid);
                            overflow: hidden;

                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: stretch;

                            outline: 2px solid var(--white);
                            box-shadow: 0 0 0 4px var(--black);

                            background-color: var(--white);
                            position: relative;

                            cursor: grab;

                            .rangeBackground {
                                position: absolute;
                                inset: 0;

                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                color: var(--black);
                                padding-inline: 8px;
                                line-height: 1;
                            }

                            .totalTime {
                                width: 100%;
                                height: var(--size);
                                background-color: var(--black);
                                border-radius: var(--grid);

                                transform: translate(-50%, 0);
                                transition: transform .5s ease;

                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                color: var(--white);
                                padding-inline: 8px;
                                line-height: 1;
                            }
                        }

                        .currentTime {
                            width: var(--size);
                            height: var(--size);
                            border-radius: 100%;

                            position: absolute;
                            z-index: 1;
                            left: 0;
                            bottom: 0;

                            display: grid;
                            place-content: center;
                            pointer-events: none;

                            background-color: var(--black);

                            display: none;
                        }
                    }
                }
            }
        }

        .actionBar {
            .actionButton {
                &.center {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        color: var(--white);
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--black);
                        border-radius: 50%;
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .musicPage {
        .actionBar {
            background-color: transparent;
            justify-content: center;
            gap: 4px;
            .actionButton {
                &.center {
                    order: 0;
                }
                &.start {
                    order: 1;
                    opacity: 0;
                }
                &.end {
                    order: 2;
                }
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--white);
                        border-radius: 50%;
                        border: 2px solid var(--black);
                    }
                }
            }
        }
    }

    .libraryList {
        margin: 0;
        padding: 0 var(--padding);

        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        .libraryItem {
            .libraryButton {
                width: 100%;
                display: grid;
                grid-template-columns: 42px 1fr 24px;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                text-align: left;

                height: calc(var(--grid) * 1.5);
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}