@layer component {
    .musicRecoderPage {
        .mainArea {
            width: calc(var(--grid) * 10);
            height: calc(var(--grid) * 14);

            /* background-image: linear-gradient(#444cf722 1px, transparent 1px), linear-gradient(to right, #444cf722 1px, transparent 1px);
            background-size: calc(var(--grid) - .1px) calc(var(--grid) - .05px); */

            .musicRecoder {
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--half);
                position: relative;
                z-index: 0;

                .recordContainer {
                    width: 100%;
                    height: calc(var(--grid) * 8);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .record {
                        width: calc(var(--grid) * 8);
                        height: calc(var(--grid) * 8);
                        background-color: var(--black);
                        border-radius: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        &.active {
                            animation: rotate 30s linear infinite;
                        }


                        /* background-image: repeating-radial-gradient(circle, transparent, transparent 10px, var(--white) 10px, var(--white) 11px);
                        transform: translate(-50%, -50%);
                        border-radius: 50%; */

                        .recordCenter {
                            width: 28%;
                            height: 28%;
                            border-radius: 100%;
                            background-color: var(--white);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &::before {
                                content: '';
                                display: block;
                                width: 5px;
                                height: 5px;
                                border-radius: 100%;
                                background-color: var(--black);
                            }
                        }

                        .time {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 25%;
                            color: var(--white);
                            text-align: center;

                            &.timeCurrent {
                                left: 7%;
                            }
                            &.timeDuration {
                                right: 7%;
                            }
                        }

                        &::before,
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 25%;
                            height: 2px;
                            background-color: var(--white);
                            left: 50%;
                            top: 50%;
                            translate: -50% -50%;
                            rotate: 90deg;
                        }

                        &::before {
                            translate: -50% calc(var(--grid) * 2.5);
                        }

                        &::after {
                            translate: -50% calc(var(--grid) * -2.5);
                        }
                    }
                }

                .recordActions {
                    height: calc(var(--grid) * 4.5);
                    padding-inline: var(--padding) var(--grid);

                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .musicControl {
                        height: 100%;
                        display: flex;
                        gap: 3px;
                        /* padding-inline-start: 4px; */
                        align-items: center;

                        & button {
                            width: calc(var(--grid) * 1.8);
                            height: calc(var(--grid) * 4);

                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            padding-block-start: 12px;

                            border: 2px solid var(--black);
                            border-radius: 3px;

                            .icon {
                                font-size: 26px;
                            }

                            &.btnNext {
                                background-color: var(--black);

                                .icon {
                                    color: var(--white);
                                }
                            }
                        }
                    }

                    .playHand {
                        position: relative;
                        width: calc(var(--grid) * 1.5);
                        height: calc(var(--grid) * 1.5);

                        translate: 0 calc(var(--grid) * -0.9);

                        &.active {
                            .playHandCircle {
                                rotate: 30deg;

                                .playHandStick {
                                    .marquee p {
                                        animation: scroll 15s linear infinite;
                                    }
                                }
                            }
                        }

                        .playHandCircle {
                            position: absolute;
                            inset: 0;
                            z-index: 1;
                            transition: rotate .5s ease;

                            .playHandStick {
                                position: absolute;
                                width: calc(var(--grid) * 9);
                                height: 28px;
                                background-color: var(--black);
                                outline: 2px solid var(--white);
                                border-radius: 5px;

                                top: 50%;
                                right: 0;
                                translate: var(--half) -50%;

                                /* &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 34px;
                                    height: 30px;
                                    background-color: var(--black);
                                    translate: 12px -50%;
                                    outline: 2px solid var(--white);
                                } */

                                .marquee {
                                    width: calc(var(--grid) * 7);
                                    overflow: hidden;
                                    white-space: nowrap;
                                    box-sizing: border-box;
                                    color: var(--white);
                                    line-height: 28px;

                                    p {
                                        margin: 0;
                                        display: inline-block;
                                        padding-left: 100%;
                                    }
                                }
                            }
                        }

                        .queueButton {
                            position: absolute;
                            inset: 0;
                            z-index: 2;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            background-color: var(--black);
                            border-radius: 100%;
                            border: 2px solid var(--white);

                            .icon {
                                color: var(--white);
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }

        .playerButton {
            display: none;
        }

        .actionBar {
            position: absolute;
            z-index: 1;
            background-color: transparent;
            bottom: var(--grid);
            transform: translateZ(0);
            padding-inline-end: 6px;

            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;
                    translate: -8px 20px;

                    .icon {
                        color: var(--white);
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 2px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--black);
                        border: 2px solid var(--black);
                    }
                }
            }
        }
    }

    .scrollArea {
        .noData {
            height: calc(var(--grid) * 7);
        }

        .musicTitle {
            margin-block: var(--half) 0;
            padding-inline: var(--padding);
            font-size: 26px;
            font-weight: 400;
        }
    }

    .musicList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        gap: 10px;

        &.albumList {
            padding-block: var(--padding);
        }

        .musicCard {
            display: grid;
            grid-template-areas: "card";
            /* aspect-ratio: 1/1; */
            text-align: left;

            border: 3px solid var(--black);
            border-radius: 10px;
            position: relative;

            &::before {
                content: '';
                display: block;
                grid-area: card;
                padding-top: 100%;
            }

            .backgroundEl {
                grid-area: card;

                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0;

                .diamondCard {
                    width: 86px;
                    height: 86px;

                    display: grid;
                    place-items: center;

                    .icon {
                        font-size: 52px;
                    }
                }
            }

            .albumEl {
                grid-area: card;
                padding: 8px 4px;
                text-align: left;
                z-index: 1;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                .albumName {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 0 4px;
                    background-color: var(--white);
                    border-radius: 2px;
                }
            }

            .playButton {
                position: absolute;
                z-index: 1;
                bottom: 6px;
                right: 6px;

                width: calc(var(--grid) * 1.4);
                height: calc(var(--grid) * 1.4);
                border-radius: 50%;
                background-color: var(--white);
                border: 2px solid var(--black);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .artistList {
        --size: calc(var(--grid) * 1.2);
        padding-block-start: 0;

        .titleItem {
            display: grid;
            grid-template-columns: var(--size) 1fr;
            gap: 8px;
            align-items: center;

            .thumbnail {
                width: var(--size);
                height: var(--size);
                border: 2px solid var(--black);
                border-radius: 50%;
                display: grid;
                place-items: center;

                .icon {
                    font-size: 28px;
                }
            }
        }
    }
    .playlistList {
        --size: calc(var(--grid) * 1.2);

        .titleItem {
            display: grid;
            grid-template-columns: var(--size) 1fr;
            gap: 8px;
            align-items: center;

            .thumbnail {
                width: var(--size);
                height: var(--size);
                border: 2px solid var(--black);
                border-radius: 2px;
                display: grid;
                place-items: center;

                .icon {
                    font-size: 28px;
                }
            }
        }
    }

    .songList {
        --album-size: 32px;

        &.noPadding {
            padding-block: 0;
        }

        .titleItem {
            display: grid;
            grid-template-columns: var(--album-size) 1fr;
            gap: 8px;

            .albumCover {
                width: var(--album-size);
                height: var(--album-size);

                display: flex;
                justify-content: center;
                align-items: center;

                border: 2px solid var(--black);
                border-radius: 2px;
            }
        }

        .spreadItem {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px var(--padding);

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                border-top: 2px solid var(--black);
            }
        }
    }

    .albumBanner {
        padding-inline: var(--padding);

        .albumName {
            padding-inline-end: var(--grid);
            font-size: var(--grid);
            line-height: 1.2;
            font-weight: normal;
        }

        .artists {
            padding-block-start: var(--half);
        }
    }

    .albumsPage {
        .mainArea {
            height: calc(var(--grid) * 14);

            .scrollArea {
                padding-block: var(--half);
                width: calc(var(--grid) * 10);
                height: calc(var(--grid) * 10);
                transform: rotate(-90deg);
                translate: 0 calc(var(--grid) * .5);
            }
        }
        .actionBar {
            position: absolute;
            z-index: 2;
            transform: translateZ(0);
            background-color: transparent;
            bottom: var(--grid);

            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .albumList {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: calc(var(--grid) * 0.2) var(--padding);
        gap: 0;
        scroll-snap-type: both mandatory;

        .albumCard {
            scroll-snap-align: center;
            scroll-snap-stop: always;
            /* aspect-ratio: 1/1; */
            display: grid;
            grid-template-areas: "album";
            outline: 3px solid var(--white);
            border-radius: 3px;
            background-color: var(--black);

            transition: all .4s ease;

            margin-block: calc(var(--grid) * -0.2);
            transform: rotate(90deg);

            &::before {
                content: '';
                display: block;
                grid-area: album;
                padding-top: 100%;
            }

            .albumRecord {
                grid-area: album;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                overflow: hidden;

                .record {
                    width: calc(var(--grid) * 1.6);
                    height: calc(var(--grid) * 1.6);
                    border: 2px solid var(--black);
                    border-radius: 100%;
                    margin-block-end: -50%;
                    box-shadow:
                        0 0 0 1px var(--white),
                        0 0 0 5px var(--black),
                        0 0 0 6px var(--white),
                        0 0 0 10px var(--black),
                        0 0 0 11px var(--white),
                        0 0 0 15px var(--black),
                        0 0 0 16px var(--white),
                        0 0 0 20px var(--black),
                        0 0 0 21px var(--white),
                        0 0 0 25px var(--black),
                        0 0 0 26px var(--white),
                        0 0 0 30px var(--black),
                        0 0 0 31px var(--white),
                        0 0 0 35px var(--black),
                        0 0 0 36px var(--white),
                        0 0 0 40px var(--black)
                    ;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: var(--white);
                }
            }

            .albumButton {
                grid-area: album;
                padding: var(--padding);

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;

                .albumName {
                    color: var(--white);
                    font-size: var(--grid);
                    font-weight: normal;
                    padding: 0 2px;
                }

                .artists {
                    font-size: 15px;
                    padding: 0 10px;
                    background-color: var(--white);
                }
            }
        }
    }

    .musicPage,
    .queuePage,
    .latestPage {
        .mainArea {
            height: calc(var(--grid) * 14);

            .scrollArea {
                height: calc(var(--grid) * 14);
                padding-block-end: calc(var(--grid) * 3);
            }

            .playActions {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: var(--grid) var(--padding) 0;
                gap: var(--padding);

                & button {
                    height: calc(var(--grid) * 1.4);
                    border: 2px solid var(--black);
                    border-radius: var(--grid);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    .icon {
                        font-size: 28px;
                        color: var(--white);
                    }

                    &.playAll {
                        background-color: var(--black);
                        color: var(--white);

                    }
                }
            }
        }
        .actionBar {
            position: absolute;
            z-index: 2;
            transform: translateZ(0);
            background-color: transparent;
            bottom: var(--grid);
        }
    }

    .latestPage {

        .playerButton {
            position: absolute;
            z-index: 6;

            bottom: calc(var(--grid) * 1);
            left: calc(var(--grid) * 4);

            width: var(--button);
            height: var(--button);
            background-color: var(--white);
            border-radius: calc(var(--grid) * 1.5);
            display: flex;
            justify-content: center;
            align-items: center;

            border: 3px solid var(--black);
            outline: 3px solid var(--black);
            outline-offset: -9px;

            .icon {
                color: var(--white);
                font-size: 22px;
            }

            &::before {
                content: '';
                inset: 9px;
                display: block;
                position: absolute;
                z-index: -1;
                background-color: var(--black);
                border-radius: 50%;
                /* border: 2px solid var(--black); */
            }
        }

        &.playing {
            .playerButton {
                animation: rotate 10s linear infinite;
            }
        }

        .actionBar {
            z-index: 1;
            justify-content: center;
            gap: 4px;
            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        border-radius: var(--grid);
                        background-color: var(--white);
                        border: 2px solid var(--black);
                    }
                }
            }
        }
    }

    .musicPlayerPage {
        z-index: 7;
        .playerContainer {
            width: 100%;
            height: 100%;
            /* calc(var(--grid) * 11); */
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: calc(var(--grid) * 5) calc(var(--grid) * 3) calc(var(--grid) * 3);

            &.disabled {
                pointer-events: none;
            }

            .infoContainer {
                padding: var(--half);

                .songTitle {
                    max-width: 90%;
                    font-size: var(--grid);
                    font-weight: normal;
                    line-height: 1.2;
                }

                .articeName {
                    margin-block-start: var(--half);
                }
            }

            .controlContainer {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }

                .controlButton {
                    width: calc(var(--grid) * 2);
                    height: calc(var(--grid) * 2);

                    .icon {
                        font-size: 38px;
                    }
                }

                .playButton {
                    width: calc(var(--grid) * 2.2);
                    height: calc(var(--grid) * 2.2);
                    border: 3px solid var(--black);

                    .icon {
                        font-size: 52px;
                    }
                }
            }

            .timelineContiner {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: var(--half);

                .trackSlider {
                    width: 100%;
                    padding-inline: 4px;

                    .trackGroup {
                        width: 100%;
                        position: relative;

                        --size: 24px;

                        &:not(:last-child) {
                            border-bottom: 2px solid var(--black);
                        }


                        .trackRange {
                            width: 100%;
                            height: var(--size);

                            border-radius: var(--grid);
                            overflow: hidden;

                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: stretch;

                            outline: 2px solid var(--white);
                            box-shadow: 0 0 0 4px var(--black);

                            background-color: var(--white);
                            position: relative;

                            cursor: grab;

                            .rangeBackground {
                                position: absolute;
                                inset: 0;

                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                color: var(--black);
                                padding-inline: 8px;
                                line-height: 1;
                            }

                            .totalTime {
                                width: 100%;
                                height: var(--size);
                                background-color: var(--black);
                                border-radius: var(--grid);

                                transform: translate(-50%, 0);
                                transition: transform .5s ease;

                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                color: var(--white);
                                padding-inline: 8px;
                                line-height: 1;
                            }
                        }

                        .currentTime {
                            width: var(--size);
                            height: var(--size);
                            border-radius: 100%;

                            position: absolute;
                            z-index: 1;
                            left: 0;
                            bottom: 0;

                            display: grid;
                            place-content: center;
                            pointer-events: none;

                            background-color: var(--black);

                            display: none;
                        }
                    }
                }
            }
        }

        .actionBar {
            .actionButton {
                &.center {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        color: var(--white);
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--black);
                        border-radius: 50%;
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .musicPage,
    .queuePage {
        .actionBar {
            background-color: transparent;
            justify-content: center;
            gap: 4px;
            .actionButton {
                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    .icon {
                        /* color: var(--white); */
                        font-size: 28px;
                    }

                    &::before {
                        content: '';
                        inset: 8px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--white);
                        border-radius: 50%;
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .queuePage {
        .actionBar {
            .actionButton {
                &:has(span) {
                    .icon {
                        color: var(--white);
                    }

                    &::before {
                        background-color: var(--black);
                    }
                }
            }
        }
    }

    .libraryList {
        margin: 0;
        padding: 0 var(--padding);

        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        .libraryItem {
            .libraryButton {
                width: 100%;
                display: grid;
                grid-template-columns: 42px 1fr 24px;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                text-align: left;

                height: calc(var(--grid) * 1.5);
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

                                  
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}