@layer component {
    .eventsPage {

        .actionBar {
            height: calc(var(--grid) * 3);
            padding-bottom: var(--grid);
            position: absolute;
            z-index: 0;
            bottom: 0;

            .actionButton {
                pointer-events: none;

                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    position: relative;
                    z-index: 0;

                    &::before {
                        content: '';
                        inset: 10px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--white);
                        border-radius: 50%;
                    }
                }
            }
        }

        .swipable {
            height: calc(var(--grid)* 14);
            position: relative;

            .dateToggle {
                position: absolute;
                z-index: 2;
                top: 0;
                background-color: var(--white);
            }

            .scrollArea {
                height: calc(var(--grid)* 14);
                position: absolute;
                z-index: 0;
                inset: 0;

                padding-block: var(--button) var(--grid);
                transition: translate .7s ease;

                &.curr {
                    translate: 0 0;
                }
                &.prev {
                    translate: -100% 0;
                }
                &.next {
                    translate: 100% 0;
                }
            }
        }
    }

    .scrollArea {
        &.paddingBlock {
            padding-block: var(--half);
        }

        .stickyTop {
            position: sticky;
            top: 0;
        }

        .dayArea {
            width: calc(var(--grid) * 10);
            padding-inline: var(--half);
            position: relative;

            .nowLine {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                right: 0;
                pointer-events: none;

                border-top: 2px solid var(--black);

                &::before,
                &::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    background-color: var(--black);

                    position: absolute;
                    top: -7px;
                }
                
                &::before {
                    left: -7px;
                }
                &::after {
                    right: -7px;
                }
            }

            .hourList {
                .hourItem {
                    height: calc(var(--grid) * 1.5);
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    gap: 5px;
                    align-items: center;
                    font-size: 14px;
                    text-align: right;

                    &::after {
                        content: "";
                        display: block;
                        border-top: 1px dotted var(--black);
                    }
                }
            }

            .eventList {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;

                position: absolute;
                z-index: 1;
                inset: 0;
                pointer-events: none;

                .eventItem {
                    min-height: var(--grid);
                    cursor: pointer;
                    pointer-events: auto;

                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: calc(var(--half) + 50px);
                    right: var(--half);

                    background-color: var(--white);
                    border: 2px solid var(--black);
                    padding: 2px 8px;
                    border-radius: 6px;

                    .eventName {
                        padding-block-start: 2px;
                        font-size: 16px;
                        line-height: 1.2;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        &.over {
                            text-decoration: line-through;
                        }
                    }

                    &.oneLine {
                        .eventName {
                            max-width: 100%;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}