@layer component {

    .fullBottom {
        .mainArea {
            height: calc(var(--grid) * 14);

            .scrollArea {
                height: calc(var(--grid) * 14);
                padding-block-end: var(--grid);
            }
        }

        .actionBar {
            position: absolute;
            bottom: var(--grid);
        }

        .actionBar {
            position: absolute;
            z-index: 0;
            bottom: var(--grid);

            .actionButton {
                pointer-events: none;

                &:has(span) {
                    pointer-events: auto;
                    border-radius: calc(var(--grid) * 1.5);
                    /* background-color: var(--white); */
                    /* outline: 2px solid var(--black);
                    outline-offset: -8px; */
                    position: relative;
                    z-index: 0;

                    &::before {
                        content: '';
                        inset: 10px;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        background-color: var(--white);
                        border-radius: 50%;
                        /* border: 2px solid var(--black); */
                    }
                }
            }
        }
    }

    .settingList {
        list-style: none;
        margin: 0;
        padding: var(--half) var(--padding);
        padding-block-end: calc(var(--grid) * 1.5);

        .settingItem {
            width: 100%;
            min-height: calc(var(--grid) * 1.75);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .itemMain {
                flex: 1;
                height: calc(var(--grid) * 1.5);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .itemToggle {
                min-width: calc(var(--grid) * 2);
                height: calc(var(--grid) * 1.5);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                text-transform: capitalize;
            }

            .itemSystem {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
            }
        }
    }

    .appList {
        margin: 0;
        padding: var(--half) var(--padding);
        list-style: none;
        --toggle: calc(var(--grid)* 1.7);

        .appItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            /* cursor: grab; */

            width: 100%;
            min-height: calc(var(--grid) * 1.6);

            .appName {
                flex: 1;
                font-size: 20px;
            }

            .grab {
                cursor: grab;
            }

            .clearStorage {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }

    .toggleContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--padding);
        min-height: calc(var(--grid) * 1.5);
        position: sticky;
        z-index: 1;
        top: 0;

        font-size: 20px;
    }

    .storageContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 12px;
        padding: var(--padding);

        > h3 {
            font-size: 20px;
            font-weight: 500;
        }

        .progress {
            width: 100%;
            height: 28px;
            border: 2px solid var(--black);
            border-radius: 5px;
            position: relative;

            &::before {
                content: attr(data-free) 'GB';
                position: absolute;
                z-index: 1;
                inset: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-inline: 12px;
            }


            &[data-support='not-support'] {
                &::after {
                    content: 'StorageManager API is not supported';
                    background-color: var(--black);
                    color: var(--white);
                    font-size: 14px;
                    position: absolute;
                    z-index: 2;
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .progressBar {
                height: 100%;
                background-color: var(--black);
                border-radius: 3px;
            }
        }
    }

    .barreryContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 0;
        padding: var(--padding);

        .batteryPercentage {
            > span {
                font-size: var(--grid);
                font-weight: 400;
            }
            > small {
                font-size: 18px;
            }
        }

        .percentageContainer {
            width: 100%;
            height: 28px;
            border: 2px solid var(--black);
            border-radius: 5px;
            position: relative;

            .percentageBar {
                height: 100%;
                background-color: var(--black);
                border-radius: 3px;
            }
        }

        .chargingStatus {
            margin-top: 8px;
        }
    }

    .osUpdate {
        padding-inline: 16px;
        height: 40px;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .displayContainer {
        padding: var(--padding) var(--half) var(--half);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .deviceContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: var(--half);

            .miniDevice {
                --bg: var(--white);
                --fg: var(--black);
                width: calc(var(--grid) * 3);
                height: calc(var(--grid) * 5);
                border-radius: var(--padding);
                background-color: var(--bg);
                border: 2px solid var(--black);

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 6px;

                .deviceIsland {
                    width: 28px;
                    height: 12px;
                    border-radius: 12px;
                    background-color: var(--fg);
                }

                .deviceMain {
                    color: var(--fg);
                    font-weight: 600;
                }

                .deviceBar {
                    width: 32px;
                    height: 4px;
                    border-radius: 4px;
                    background-color: var(--fg);
                }

                &.light {
                    --bg: var(--one-bit);
                    --fg: var(--zero-bit);

                }
                &.dark {
                    --bg: var(--zero-bit);
                    --fg: var(--one-bit);
                }
            }

            .material-symbols-outlined {
                font-size: 32px;
            }
        }
    }

    .groupContiner {
        padding: var(--half);

        .toggleGroup {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid var(--black);
            border-radius: 10px;
            padding: 6px 8px;

            font-size: 18px;
        }
    }

    .formLabel {
        font-size: 18px;
        padding-left: 1px;
        margin-bottom: -24px;
    }

    .ringToneSlider {
        padding-inline: 4px;

        .volumeGroup {
            width: 100%;
            position: relative;

            --size: 42px;

            &:not(:last-child) {
                border-bottom: 2px solid var(--black);
            }


            .volumeRange {
                width: 100%;
                height: var(--size);

                border-radius: var(--grid);
                overflow: hidden;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: stretch;

                outline: 2px solid var(--white);
                box-shadow: 0 0 0 4px var(--black);

                background-color: var(--white);
                position: relative;

                .rangeBackground {
                    position: absolute;
                    inset: 0;

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: var(--black);
                    padding-inline: var(--half);
                }

                .currentVolume {
                    width: 100%;
                    height: var(--size);
                    background-color: var(--black);
                    border-radius: var(--grid);

                    transform: translate(-50%, 0);
                    transition: transform .5s ease;

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: var(--white);
                    padding-inline: var(--half);
                }
            }

            .volumeIcon {
                width: var(--size);
                height: var(--size);
                border-radius: 100%;

                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 0;

                display: grid;
                place-content: center;
                pointer-events: none;

                background-color: var(--black);

                .material-symbols-outlined {
                    color: var(--white);
                    font-size: 28px;
                }
            }
        }
    }
}